<div style="border:solid green 3px; padding: 20px">

<b>Привет!</b>

Меня зовут Сороколетов Илья и я буду проверять твой проект. 

Предлагаю общаться на «**ты**», но если тебе будет комфортнее общаться на «**вы**», то сообщи об этом в комментариях)


Для твоего удобства, я буду выделять свои комментарии следующим образом:

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера v1:</b> Самые важные замечания. Они указывают на ключевые моменты, которые влияют на конечный результат проекта. </div>

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> Советы или замечания, которые помогут сделать твою работу лучше, но необязательны к выполнению.

</div>

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> Так я выделяю все остальные комментарии.</div>


Пометками <b>v1-v2-v3-...</b> я буду отмечать версию проверки. Так ты сможешь быстро найти мои новые комментарии.

Давай работать над проектом в диалоге: если ты что-то меняешь в проекте по моим рекомендациям — пиши об этом. Выбери для своих комментариев какой-то заметный цвет, так мне будет легче отследить изменения, например вот так:
    
<div class="alert alert-info">
<b>Комментарий студента:</b>
<br>
</div>

<b>Пожалуйста, не перемещай, не изменяй и не удаляй мои комментарии.</b> Если ты оставляешь свои комментарии, то делай это под моими, чтобы сообщения были расположены в хронологическом порядке. Всё это поможет выполнить повторную проверку твоего проекта быстрее. 


Перед отправкой работы я рекомендую нажимать Kernel -> Restart & Run All. Это перезапустит ядро и по очереди выполнит все ячейки. Так ты сможешь проверить, что всё работает корректно. Кнопка Kernel находится в панели сверху

Обязательно задавай вопросы если они возникнут, а я перехожу к проверке)

P.S. На всякий случай, я оставлю пустой шаблон для твоих комментариев ниже. Кликни два раза на мой комментарий, скопируй последние четыре строчки кода и вставляй их в пустую ячейку там, где ты хочешь оставить комментарий. Не забудь только перед этим сменить тип ячейки на Markdown. Быстро это можно сделать так: кликнуть на ячейку - нажать ESC - нажать M. 
    
    
<div class="alert alert-info">
<b>Комментарий студента:</b>
<br>Место для твоего комментария
</div>

# Исследование надежности заемщиков.

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> 
<br>Лучше оставляй перед проектом краткое описание задачи. Это поможет тебе быстро вспомнить о чем проект, если спустя время ты решишь к нему вернуться)
</div>

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение, количество детей клиента, цель кредита и доход клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

### Шаг 1. Обзор данных

Прочитаем файл и выведем первые 10 строк таблицы:

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('/datasets/data.csv')

df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> 
<br>Все библиотеки лучше импортировать отдельно в первой ячейке. Это позволит тебе в любой момент добавить ещё одну библиотеку без перезаписи переменных.
</div>

Найдем пропуски в данных.

In [18]:
round(df.isna().mean(), 2)

children            0.0
days_employed       0.1
dob_years           0.0
education           0.0
education_id        0.0
family_status       0.0
family_status_id    0.0
gender              0.0
income_type         0.0
debt                0.0
total_income        0.1
purpose             0.0
dtype: float64

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> 
<br>Расчет не совсем верный, так как ты делишь количество заполненных значений, на количество пропусков, а нужно делить на общее количетсво значений. В этом может помочь следующая связка
    
    df.isna().mean()
</div>

Пропущены значения в столбцах:

* `days_employed` — общий трудовой стаж в днях
* `total_income` — ежемесячный доход 

Количество пропущенных значений одинаковое для столбцов.
Процент пропусков - 10%. Удаление такой большой доли значений может повлиять на результат. Поэтому надо разобраться в причинах и выбрать способ заполнения пропусков. 

Проверим, что пропущенные значения связаны друг с другом:

In [19]:
df[(df['total_income'].isna() == True) & (df['days_employed'].isna() == True)]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,Среднее,1,женат / замужем,0,M,компаньон,0,NaN,сделка с автомобилем
21495,1,NaN,50,среднее,1,гражданский брак,1,F,сотрудник,0,NaN,свадьба
21497,0,NaN,48,ВЫСШЕЕ,0,женат / замужем,0,F,компаньон,0,NaN,строительство недвижимости
21502,1,NaN,42,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,строительство жилой недвижимости
21510,2,NaN,28,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,приобретение автомобиля

Верно, пропущенные значения встречаются в парах. Вероятно, это полностью случайные пропуски - несмотря на связь друг с другом, они не зависят от значений других столбцов или характера вопроса. Причина может быть в том, что эти данные просто не внесли в таблицу.

Пропуски в количественных переменных заполняются характерными значениями. Это среднее арифметическое или медиана. Отдельные значения трудового стажа и дохода могут сильно отклоняться от большинства и смещать среднее арифметическое в сторону отклонения, тогда как медиана остается неизменной. 

Поэтому для заполнения пропусков будем использовать медиану.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Отлично!
<br>Во время первичного анализа данных, может помочь метод describe(). Он покажет разброс значений, максимум, минимум, среднее и медиану. 
</div>

### Шаг 2.1 Заполнение пропусков

Прежде чем заполнить пропуски, проверим, что в столбце нет отрицательных значений.

In [20]:
df[df['total_income'] < 0]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

Заменим пропуски в столбце `total_income` медианой:

In [21]:
#заполнение пропусков в столбце total_income медианой
df['total_income'] = df['total_income'].fillna(df['total_income'].median())

#проверим, что пропусков в total_income не осталось
display(df[(df['total_income'].isna() == True)])

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Всё верно! Также здесь можно заполнить пропуски более оптимальным способом - медианой, в зависимости от типа занятости. Для этого отлично подойдёт функция transform:

    df['total_income'] = df['total_income'].fillna(df.groupby('income_type')['total_income'].transform("median"))

<br>Она создаёт новый столбец, который содержит столько же строк, сколько и изначальный, но только вместо оригинальных значений в каждой строке содержится медиана посчитанная по заданной группе. После этого вместо пропусков в оригинальном столбце мы подставляем значения из созданного столбца, то есть медианы в зависимости от группы.
</div>

### Шаг 2.2 Проверка данных на аномалии и исправления.

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [23]:
df['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

В таблице 76 строк с количеством детей 20. И нет данных про 6-19 детей. Вероятно, это опечатка и вместо 20 должно быть 2. Аналогично заменим -1 на 1.

In [24]:
df.loc[df['children'] == 20, 'children'] = 2
df.loc[df['children'] == -1, 'children'] = 1

#проверим, что 20 и -1 детей нет
df['children'].value_counts()

0    14149
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b>
<br>Отличное решение!
</div>

In [25]:
df['days_employed'].value_counts()

-327.685916     1
-1580.622577    1
-4122.460569    1
-2828.237691    1
-2636.090517    1
               ..
-7120.517564    1
-2146.884040    1
-881.454684     1
-794.666350     1
-3382.113891    1
Name: days_employed, Length: 19351, dtype: int64

Еще одна аномалия - отрицательные значения в `days_employed`. Нужно исправить и сделать все значения положительными.

In [26]:
df['days_employed'] = abs(df['days_employed'])

#проверим, что отрицательных значений больше нет
display(df[df['days_employed'] < 0])

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

Теперь мы можем посчитать медианное значение и заполнить пропуски в `days_employed`.

In [27]:
df['days_employed'] = df['days_employed'].fillna(df['days_employed'].median())

#проверим, что в days_employed не осталось пропусков
display(df[(df['days_employed'].isna() == True)])

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Супер) Лучший способ - заменить пропуски в столбце days_employed через медианы с группировкой по возрасту или типу занятости

Проверим оставшиеся столбцы, в которых могут быть аномалии.

In [28]:
display(df[df['dob_years'] < 0])
display(df['debt'].value_counts())

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

0    19784
1     1741
Name: debt, dtype: int64

Больше аномалий нет. Столбцы с текстовыми значениями рассмотрим дальше.

### Шаг 2.3. Изменение типов данных.

Изменим тип данных в столбце `total_income` с вещественного на целочисленный для простоты восприятия.

In [29]:
df['total_income'] = df['total_income'].astype('int')

#проверим тип данных столбца
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  int64
 11  purpose           21525 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.0+ MB

Получилось, тип данных `total_income` теперь int64.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Тут всё верно!
</div>

### Шаг 2.4. Удаление дубликатов.

Для выявления количества явных дубликатов используем метод `duplicated()` в сочетании с методом `sum()`.

In [30]:
df.duplicated().sum()

54

Для исследования нужны уникальные строки, поэтому дубликаты удалим методом `drop_duplicates()`.

In [31]:
df = df.drop_duplicates().reset_index(drop=True)

# проверка на отсутствие дубликатов
df.duplicated().sum()

0

Теперь избавимся от неявных дубликатов. Найдем их с помощью метода `unique()`. В выведенном массиве легко найти одинаковые по смыслу значения, написанные по-разному.

In [32]:
df['education'].unique()

array(['высшее', 'среднее', 'Среднее', 'СРЕДНЕЕ', 'ВЫСШЕЕ',
       'неоконченное высшее', 'начальное', 'Высшее',
       'НЕОКОНЧЕННОЕ ВЫСШЕЕ', 'Неоконченное высшее', 'НАЧАЛЬНОЕ',
       'Начальное', 'Ученая степень', 'УЧЕНАЯ СТЕПЕНЬ', 'ученая степень'],
      dtype=object)

Для устранения неявных дубликатов приведем все значения к нижнему регистру:

In [33]:
df['education'] = df['education'].str.lower()

#проверим, что избавились от неявных дубликатов
df['education'].unique()

array(['высшее', 'среднее', 'неоконченное высшее', 'начальное',
       'ученая степень'], dtype=object)

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера v1:</b> 
<br>Ты получаешь правильный результат, но неоптимальным способом. Можно привести все значения в столбце к нижнему регистру используя str.lower(). Поправь, пожалуйста, чтобы избежать дублирования кода
</div>

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v2:</b>
<br>Отлично! Теперь всё верно)
</div>

Проверим на неявные дубликаты остальные столбцы.

In [34]:
display(df['family_status'].sort_values().unique())
display(df['gender'].sort_values().unique())
display(df['income_type'].sort_values().unique())
display(df['purpose'].sort_values().unique())

array(['Не женат / не замужем', 'в разводе', 'вдовец / вдова',
       'гражданский брак', 'женат / замужем'], dtype=object)

array(['F', 'M', 'XNA'], dtype=object)

array(['безработный', 'в декрете', 'госслужащий', 'компаньон',
       'пенсионер', 'предприниматель', 'сотрудник', 'студент'],
      dtype=object)

array(['автомобили', 'автомобиль', 'высшее образование',
       'дополнительное образование', 'жилье',
       'заняться высшим образованием', 'заняться образованием',
       'на покупку автомобиля', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля', 'на проведение свадьбы',
       'недвижимость', 'образование', 'операции с жильем',
       'операции с коммерческой недвижимостью',
       'операции с недвижимостью', 'операции со своей недвижимостью',
       'покупка жилой недвижимости', 'покупка жилья',
       'покупка жилья для сдачи', 'покупка жилья для семьи',
       'покупка коммерческой недвижимости', 'покупка недвижимости',
       'покупка своего жилья', 'получение высшего образования',
       'получение дополнительного образования', 'получение образования',
       'приобретение автомобиля', 'профильное образование',
       'ремонт жилью', 'свадьба', 'свой автомобиль',
       'сделка с автомобилем', 'сделка с подержанным автомобилем',
       'строительство жилой недвижимости', 'строительство недвижимости',
       'строительство собственной недвижимости', 'сыграть свадьбу'],
      dtype=object)

В `family_status` нет неявных дубликатов, но приведем данные к одному регистру.

In [35]:
df['family_status'] = df['family_status'].str.lower()

#проверим, что все значения в нижнем регистре
df['family_status'].sort_values().unique()

array(['в разводе', 'вдовец / вдова', 'гражданский брак',
       'женат / замужем', 'не женат / не замужем'], dtype=object)

Причинами появления дубликатов могут быть ошибки при загрузке данных, человеческий фактор. Например, с клиентом работали несколько сотрудников банка, и каждый ввел данные клиента в систему.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Супер! От дубликатов тоже избавились
</div>

### Шаг 2.5. Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма.

Вынесем значения `education` и `family_status` в отдельные датафреймы, чтобы упростить работу с данными.

In [36]:
education = pd.DataFrame(data = df[['education_id', 'education']], columns = ['education_id', 'education'])
education = education.drop_duplicates().reset_index(drop = True).sort_values(by = 'education_id')

display(education)

   education_id            education
0             0               высшее
1             1              среднее
2             2  неоконченное высшее
3             3            начальное
4             4       ученая степень

In [37]:
family_status = pd.DataFrame(data = df[['family_status_id', 'family_status']], columns = ['family_status_id', 'family_status'])
family_status = family_status.drop_duplicates().reset_index(drop = True).sort_values(by = 'family_status_id')

display(family_status)

   family_status_id          family_status
0                 0        женат / замужем
1                 1       гражданский брак
2                 2         вдовец / вдова
3                 3              в разводе
4                 4  не женат / не замужем

Удалим эти столбцы из исходного датафрейма.

In [38]:
df = df.drop(columns = ['education', 'family_status'], axis = 1)

#проверим, что удаленных столбцов нет
display(df.head())

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,0,0,F,сотрудник,0,253875,покупка жилья
1,1,4024.803754,36,1,0,F,сотрудник,0,112080,приобретение автомобиля
2,0,5623.422610,33,1,0,M,сотрудник,0,145885,покупка жилья
3,3,4124.747207,32,1,0,M,сотрудник,0,267628,дополнительное образование
4,0,340266.072047,53,1,1,F,пенсионер,0,158616,сыграть свадьбу

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Тут всё правильно 👌
</div>

### Шаг 2.6. Категоризация дохода.

Вариантов значений дохода очень много, при этом знать точный доход не обязательно. Достаточно определить несколько диапазонов дохода. Создадим столбец `total_income_category` с категориями дохода.

In [39]:
#функция, возвращающая категорию в зависимости от дохода
def total_income_group(income):
    if income < 30000:
        return 'E'
    elif income < 50000:
        return 'D'
    elif income < 200000:
        return 'C'
    elif income < 1000000:
        return 'B'
    else:
        return 'A'
    
#применим функцию к столбцу total_income и сохраним выводы в total_income_category
df['total_income_category'] = df['total_income'].apply(total_income_group)

display(df.head())

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437.673028,42,0,0,F,сотрудник,0,253875,покупка жилья,B
1,1,4024.803754,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C
2,0,5623.422610,33,1,0,M,сотрудник,0,145885,покупка жилья,C
3,3,4124.747207,32,1,0,M,сотрудник,0,267628,дополнительное образование,B
4,0,340266.072047,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Категоризация клиентов по уровню дохода произведена верно
</div>

### Шаг 2.7. Категоризация целей кредита.

Столбцец `purpose_category` содержит слишком много уникальных значений разной длины. С ними визуально сложно работать и делать выводы на их основе. Но их можно разделить на малое количество категорий, с которыми можно работать. Создадим столбец `purpose_category` с категориям целей.

In [40]:
def purpose_group(purpose):
    if 'авто' in purpose:
        return 'операции с автомобилем'
    elif 'недвиж' in purpose or 'дом' in purpose or 'жиль' in purpose:
        return 'операции с недвижимостью'
    elif 'свадь' in purpose:
        return 'проведение свадьбы'
    elif 'образов' in purpose:
        return 'получение образования'
    
df['purpose_category'] = df['purpose'].apply(purpose_group)

display(df.head())

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,0,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,1,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,1,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Основные цели кредита определены правильно! 👍
</div>

### Ответы на вопросы.

Для выявления зависимостей возврата кредита в срок от разных факторов составим сводные таблицы.

##### Вопрос 1: Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [41]:
df.pivot_table(index = ['children'], values = 'debt', aggfunc='mean')

              debt
children
0         0.075353
1         0.091639
2         0.094925
3         0.081818
4         0.097561
5         0.000000

In [42]:
df['children'].value_counts()

0    14107
1     4856
2     2128
3      330
4       41
5        9
Name: children, dtype: int64

Согласно таблице люди с 5 детьми не задерживают выплаты по кредитам вообще. Скорее всего, это связано с тем, что в таблице слишком мало записей про людей с 5 детьми.

С учетом этого, чаще всего выплачивают кредит в срок люди без детей. При этом большее количество детей не обязательно означает более частые задержки в выплатах.

##### Вывод 1:

Люди без детей намного чаще возвращают кредит в срок по сравнению с людьми, у которых есть дети.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Верно! Отлично, что ты используешь свободную таблицу
</div>

##### Вопрос 2: Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [43]:
df.pivot_table(index = ['family_status_id'], values = 'debt', aggfunc='mean')

                      debt
family_status_id
0                 0.075421
1                 0.093202
2                 0.065693
3                 0.071130
4                 0.097509

In [44]:
family_status

   family_status_id          family_status
0                 0        женат / замужем
1                 1       гражданский брак
2                 2         вдовец / вдова
3                 3              в разводе
4                 4  не женат / не замужем

In [45]:
df['family_status_id'].value_counts()

0    12344
1     4163
4     2810
3     1195
2      959
Name: family_status_id, dtype: int64

##### Вывод 2:

Чаще всего возвращают кредит без задержек вдовы/вдовцы. Больше всего зажержек у категорий не женат/не замужем.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Согласен! Идём дальше)
</div>

##### Вопрос 3: Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [46]:
df.pivot_table(index = ['total_income_category'], values = 'debt', aggfunc='mean')

                           debt
total_income_category
A                      0.080000
B                      0.070621
C                      0.084825
D                      0.060000
E                      0.090909

In [47]:
df['total_income_category'].value_counts()

C    16033
B     5041
D      350
A       25
E       22
Name: total_income_category, dtype: int64

##### Вывод 3:

Чаще всего возвращают кредит без задержек люди с достатком 30001-50000. Больше задержек у лиц с доходом 0-30000.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Тут всё правильно
</div>

##### Вопрос 4: Как разные цели кредита влияют на его возврат в срок?

In [48]:
df.pivot_table(index = ['purpose_category'], values = 'debt', aggfunc='mean')

                              debt
purpose_category
операции с автомобилем    0.093547
операции с недвижимостью  0.072314
получение образования     0.092177
проведение свадьбы        0.079657

##### Вывод 4:

Чаще всего возвращают без задержек кредиты, взятые на операции с недвижимостью. Задержки возвращения кредита на операции с автомобилем случаются чаще всего.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b>
<br>Абсолютно верно!
</div>

## Общий вывод:

Категории лиц, чаще всего задерживающие выплаты по кредитам:
* с детьми
* не женат/не замужем
* с доходом менее 30000
* взявшие кредит на операции с автомобилем

Категории лиц, реже всего задерживающие выплаты по кредитам:
* без детей
* вдовы/вдовцы
* с доходом 30001-50000
* взявшие кредит на операции с недвижимостью

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Общий вывод верный 👍
</div>

<div class="alert alert-danger">
<b>❌ Итоговый комментарий ревьюера v1:</b> 
<br>- корректно привести значения к нижнему регистру
</div>

<div class="alert alert-success">
<b>✔️ Итоговый комментарий ревьюера v2:</b>
<br>Ты проделала большую работу! У тебя точные выводы с хорошей аргументацией. Здорово, что ты пишешь свои рассуждения и предположения - это помогает видеть ход твоей мысли. Отдельно хочу выделить аккуратность и структурированность твоей работы. Рад был поработать над проверкой твоего проекта! Желаю удачи в дальнейшем обучении! 😉
</div>